footer.l-footer.u-mt-100
  .o-gotop(onclick="gotop(0)")
    .o-gotop__arrow
      i.fas.fa-long-arrow-alt-up
    .o-gotop__text TOP

  +marqueeFooter('Planters of City')

  .l-footer__menu
    .l-footer__box
      .u-text-lg.u-mb-30 Follow us /

      ul.l-footer__link-box.u-mb-60
        li.l-footer__link-wrap
          a(href="##")
            i.fab.fa-facebook.u-icon.--footer
        li.l-footer__link-wrap
          a(href="##")
            i.fab.fa-instagram.u-icon.--footer
        li.l-footer__link-wrap
          a(href="##")
            i.fab.fa-youtube.u-icon.--footer

      .u-text-sm.u-color-gray © 2023 Planters of City All rights reserved.

    a.l-footer__logo-wrap(href="index.html")
      img.l-footer__logo(src="img/logo/logo.svg", alt=title)

    ul.l-footer__content-wrap
      li.l-footer__content
        span 營業時間： 
        span.u-color-gray 10:00 ~ 20:00
      li.l-footer__content
        span 連絡電話：
        span.u-color-gray 07-1234567
      li.l-footer__content
        span 聯絡地址：
        span.u-color-gray 高雄市新興區中山一路258-1號