.l-navbar
  .l-navbar__burger
    .o-burger(onclick="toggleBurger()")
      .o-burger__wrap
        .o-burger__line
        .o-burger__line
        .o-burger__line

  .l-navbar__body
    .l-navbar__menu
      a.l-navbar__logo-wrap(href="index.html")
        img.l-navbar__logo(src="img/logo/logo.svg", alt=title)
      ul.l-navbar__btn-box
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span 品牌理念
            span.u-ff-en.u-fw-500.u-title-sm.u-ls-sm About
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span 植人嚴選
            span.u-ff-en.u-fw-500.u-title-sm.u-ls-sm Plants
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span 植人體驗
            span.u-ff-en.u-fw-500.u-title-sm.u-ls-sm Service
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span 植人美食
            span.u-ff-en.u-fw-500.u-title-sm.u-ls-sm Food
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span 最新消息
            span.u-ff-en.u-fw-500.u-title-sm.u-ls-sm News
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span 植人資訊
            span.u-ff-en.u-fw-500.u-title-sm.u-ls-sm Info


      ul.l-navbar__btn-box.--icon
        li.l-navbar__btn-wrap.--icon
          a.l-navbar__btn.--icon(href="##")
            i.fab.fa-facebook.u-icon
        li.l-navbar__btn-wrap
          a.l-navbar__btn.--icon(href="##")
            i.fab.fa-instagram.u-icon
        li.l-navbar__btn-wrap
          a.l-navbar__btn.--icon(href="##")
            i.fab.fa-youtube.u-icon
          